
.Subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 120px;
}
.Subscribe p{
    margin: 20px auto;
    font-size: large;
}

.Subscribe h1{
    margin-bottom: 10px;
}

.Sub_search{
    position: relative;
}

.Sub_search input{
    font-size: large;
    width: 400px;
    padding: 10px;
    border-radius: 24px;
    border: 2px solid black
}

.Sub_search button{
    position: absolute;
    top: 0px;
    right: -30px;
    color: white;
    padding: 12px 34px;
    font-size: large;
    border-radius: 24px;
    border: none;
    background: black;
    cursor: pointer;
}
.Sub_search button:hover{
    background: green;
}

