
.navSticky{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.NavbarStyle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #eeeded;
    padding: 10px;
}

.navLog{
  display: flex;
  align-items: center;
  gap: 40px;  
}
.navLog p{
    font-size: 16pt;
}


.navManu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navManu li{
    list-style: none;
}
.NavLi:hover{
    color: #ec435f;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.ActiveColor{
    color: #ec435f;
}
.NavLi{
    font-size: larger;
    color: black;
    text-decoration: none;
}
.navButon{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navButon button{
    padding: 10px 60px;
    background: white;
    border: 2px solid gray;
    border-radius: 24px;
    font-size:medium;
    cursor: pointer;
}
.navButon button:hover{
    background: #7ac54c;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: -35px;
    margin-left: -55px;
    color: white;
}
